/* Mobile */
@media only screen and (max-width: 600px){
    #web{
        display: none;
    }
}
/* Web */
@media only screen and (min-width: 600px){
    #mobile{
        display: none;
    }
    
}
.logo{
    font-family: "Sniglet", system-ui;
    font-weight: 800;
}